#container{
    width: 1380px;
    height: 3750px;
    margin: 8px;
    padding-top: 8px;
}
.subNav{
    width: 95%;
    height: 60px;
}
.cardGliss{
    width: 80%;
    height: 370px;
}
.filter{
    width: 20%;
    height: 3260px;
}
.allCards{
    width: 100%;
    height: 3260px;
}
.allCards .card1{
    height: 500px;
}
.btn{
    background-color: #008888;
}